<div>
    <h1>Users</h1>
</div>
<ul>
    <li *ngFor="let user of users$">
        <div class="row user-container">
            <div class="image-container">
                <img src="../../assets/avatar.jpg" height="92px" width="92px">
            </div>
            <div class="details-container">
                <a routerLink="/details/{{user.id}}">{{user.name}}</a>
    
                <ul>
                    <li>{{ user.email }}</li>
                    <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
                </ul>
            </div>

        </div>
        
       
    </li>
</ul>
