.image-container{
    display: inline-block;
}
.details-container{
        display: inline-block;
        margin-left: 40px;
}
.user-container{
    background-color : white;
    padding :10px;
    border-radius : 5px;
   
}

